* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Karla', sans-serif;
}

.container {
  width: 90vw;
  margin: 20px auto 0px;
}

.main-mission {
  display: flex;
  justify-content: space-between;
  width: 52%;
  align-items: flex-end;
}

#light {
  color: #62666d;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  list-style: none;
}

.header ul li {
  display: inline-block;
  padding: 0 20px;
}

.header li a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: 400;
}

.contact-title {
  font-size: 30px;
  line-height: 66px;
  font-weight: bold;
  letter-spacing: -0.07em;
  margin-top: 30px;
}

textarea {
  resize: none;
}

section {
  width: 90vw;
  margin: 0 auto;
  display: flex;
}

.contact-form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact-form input,
textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px 0 10px 10px;
  background: #ffffff;
  border: none;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(51, 51, 51, 0.08);
  border-radius: 4px;
}

.contact-form button {
  height: 73px;
  color: #fff;
  background: #000000;
  margin-top: 20px;
}
