* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
}

.container {
  width: 90vw;
  margin: 20px auto 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  list-style: none;
}

header ul li {
  display: inline-block;
  padding: 0 20px;
}

header li a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: 400;
}

main {
  display: flex;
  justify-content: space-between;
  background: #d2c7f0;
  margin-top: 40px;
}

.main-quote {
  /* width: 40%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  padding-left: 6%;
}

.main-title {
  font-size: 48px;
  font-weight: 700;
}

.main-subtitle {
  font-size: 20px;
}

.main-quote a {
  display: inline-block;
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  width: 189px;
  height: 44px;
  text-align: center;
  padding-top: 8px;
  font-size: 21px;
  font-weight: 700;
}

.buttons {
  display: flex;
}

.product-btn {
  background: #000;
  color: #fff;
  margin-right: 20px;
}

.contact-btn {
  border: 2px solid #000000;
  box-sizing: border-box;
  color: #000;
}

.main-image {
  width: 60%;
  overflow: hidden;
}

.main-image img {
  width: 920px;
  height: 356px;
}

section {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.mission-title {
  font-size: 60px;
  line-height: 157.9%;
  font-weight: 700;
  letter-spacing: -0.1em;
}

.mission-title span {
  color: #d2c7f0;
}

.main-desc {
  width: 60%;
}

.description {
  font-size: 20px;
  line-height: 157.9%;
  /* or 32px */

  text-align: justify;

  color: #62666d;
}
