* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
}

.container {
  width: 90vw;
  margin: 20px auto 0px;
}

.main-mission {
  display: flex;
  justify-content: space-between;
  width: 52%;
  align-items: flex-end;
}

#light {
  color: #62666d;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  list-style: none;
}

.header ul li {
  display: inline-block;
  padding: 0 20px;
}

.header li a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: 400;
}

.third-nav {
  margin-top: 80px;
  width: 90vw;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: space-between;
  background: #d2c7f0;
  margin-top: 40px;
}

.main-quote {
  /* width: 40%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  padding-left: 6%;
}

.main-title {
  font-size: 48px;
  font-weight: 700;
}

.main-subtitle {
  font-size: 20px;
}

.main-quote a {
  display: inline-block;
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  width: 189px;
  height: 44px;
  text-align: center;
  padding-top: 8px;
  font-size: 21px;
  font-weight: 700;
}

.buttons {
  display: flex;
}

.product-btn {
  background: #000;
  color: #fff;
  margin-right: 20px;
}

.contact-btn {
  border: 2px solid #000000;
  box-sizing: border-box;
  color: #000;
}

.main-image {
  width: 60%;
  overflow: hidden;
}

.main-image img {
  width: 920px;
  height: 356px;
}

section {
  width: 90vw;
  margin: 40px auto 0;
}

.mission-title {
  font-size: 48px;
  line-height: 157.9%;
  font-weight: 700;
  letter-spacing: -0.1em;
}

.mission-title span {
  color: #d2c7f0;
}

.product-container {
  display: flex;
  width: 90vw;

  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
}

.prod h1 {
  font-size: 40px;
  font-weight: 700;
}

.prod {
  box-sizing: border-box;
  padding: 20px;
  width: 33%;
  background: #f6f2ff;
  border-radius: 30px 30px 0px 0px;
}

.price {
  font-size: 30px;
  line-height: 104.4%;
  letter-spacing: -0.1em;
  color: #62666d;
}

.tag {
  font-size: 20px;
  line-height: 104.4%;
  letter-spacing: -0.1em;
  color: rgba(98, 102, 109, 0.46);
}
